<div class="profile__wrapper">
    <div class="title-section__container">
        <div class="user-img__container">
            <img class="user__img" [src]="user.userImg"/>
        </div>
        <div class="user-info__container">
            <p class="user__name">{{user.userName}}</p>
            <p class="user__sport">{{user.userSport}}</p>
            <p class="user__address">{{user.userAddress.city}} ({{user.userAddress.district}})</p>
            <p class="user__time">{{user.userTime.from}} - {{user.userTime.to}}</p>
            <p class="user__level">{{user.userLevel}}</p>
        </div>
    </div>
    <div class="user-desc__container">
        <p class="user__desc">{{user.userDesc}}</p>
    </div>
</div>
<div class="buttons__wrapper">
    <div class="msg-btn__container btn-write">
        <a href="" class="message__btn">Napisz wiadomość</a>
    </div>
    <div class="msg-btn__container btn-call">
        <a href="" class="call__btn">Zadzwoń</a>
    </div>
</div>
