<div class="home__img">
  <img [src]="homeImage"/>
</div>
<h1 class="home__title">Trenuj wspólnie</h1>
<h2 class="home__desc">znajdź partnera</h2>
<p class="lead__text">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit,
  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
</p>
<div class="text-point__container">
  <div class="img__container">
    <img src="assets/1.jpg" class="img__number"/>
  </div>
  <p class="text__point1">Lorem ipsum dolor sit amet
    <a href="http://localhost:4200/register">zaloguj się</a>
    elit,
    sed do eiusmod tempor incididunt.</p>
</div>
<div class="text-point__container">
  <p class="text__point2">Lorem ipsum dolor sit amet
    <a href="">wybierz partnera</a>
    elit, sed do eiusmod ipsum dolor.</p>
  <div class="img2__container">
    <img src="assets/2.jpg" class="img__number2"/>
  </div>
</div>
<div class="text-point__container">
  <div class="img__container">
    <img src="assets/3.jpg" class="img__number"/>
  </div>
  <p class="text__point1">Lorem ipsum dolor sit amet
    <a href="">wybierz miejsce</a>
    elit,
    sed do eiusmod tempor incididunt.</p>
</div>
<div class="submit-button__container">
  <button type="submit" class="submit__button"><a href="http://localhost:4200/register">dołącz</a></button>
</div>
<div class="login-button__container">
  <button type="submit" class="login__button"><a href="">Zaloguj się</a></button>
</div>
